{{#if @showEncounterOverview}}
  <div class="absolute top-0 left-0 text-sm text-white text-outline text-mono rounded px-1 ml-2 bg-white  {{if this.encounterIsActive 'bg-opacity-100' 'bg-opacity-50'}}">
    [{{this.encounter.duration}}]
    {{this.encounter.title}}
  </div>
{{/if}}
<div class="flex flex-col h-full overflow-y-scroll font-black" ...attributes>
  <div class="flex flex-row">
    {{#each @columns as |column|}}
      <div class="text-white text-outline {{column.class}}">
        {{column.title}}
      </div>
    {{/each}}
  </div>

  {{#each this.combatants as |combatant index|}}
    <div
      class="flex flex-row min-w-0 text-white text-outline relative {{if combatant.isYou 'sticky bottom-0'}}"
    >
      <div
        class="absolute -z-2 w-full bg-black opacity-25 h-6 static {{if combatant.isYou 'opacity-75'}}"
      ></div>

      <div
        class="absolute -z-1 h-6 content-box opacity-90 bg-{{combatant.jobNameNoSpace}}"
        style="width: {{if (eq @focus 'hps') combatant.percentageOfMaxHealed combatant.percentageOfMaxDamage}}%"
      ></div>

      {{#each @columns as |column|}}
        {{#if (eq column.value 'Job')}}
          <div class="flex flex-row items-center space-x-1 uppercase {{column.class}}">
            <span class="min-w-1 text-right">
              {{add index 1}}
            </span>

            <img class="w-6" alt="{{combatant.jobName}} Job Icon" src={{combatant.jobIconFilepath}}/>

            <span class="uppercase">
              {{combatant.Job}}
            </span>
          </div>
        {{else}}
          <div class="{{column.class}}">
            {{get combatant column.value}}
          </div>
        {{/if}}
      {{/each}}
    </div>
  {{/each}}
</div>